@font-face {
  font-family: HK Grotesk;
  src: local(grotesk), url(../fonts/HK-Grotesk-Light.ttf.woff);
  src: local(grotesk), url(../fonts/HK-Grotesk-Light.ttf.eot);
}

* {
  box-sizing: border-box;
}

header .row{
  margin: 0;
}
.logo {
  margin: 34px 0 34px 80px;
}

.top-nav_menu {
  display: flex;
  list-style: none;
  margin: 34px 60px 34px 2px;
  justify-content: flex-end;
}

.top-nav_menu li {
  margin-right: 34px;
  
}

.top-nav_menu li a {
  color: #171717;
  text-decoration: none;
  font-family: "PT Serif", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
}

.top-nav_menu li a:hover {
  color: #C9A96E;
}
.slider-img{
  display: block;
}
.post-cards {
  margin-top: 60px;
}

.post-cards .card {
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.post-cards .card .card-body {
  text-align: center;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.post-cards .card .card-body a {
  font-family: "PT Serif", serif;
  color: #c9a96e;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
}

.post-cards .card .card-body .card-title {
  font-family: "PT Serif", serif;
  color: #171717;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}

.post-cards .card .card-body .card-text {
  font-family: "PT Serif", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #666666;
}

.post-cards .card .card-body .card-text .by {
  color: #66666677;
}
.post img{
  width: 100%;
}

.pagination {
  border: 1px solid #E5E5E5;
  margin-top: 32px;
}

.pagination .page-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #171717;
}

.aside {
  margin-top: 60px;
}

.aside .card-author {
  margin-bottom: 20px;
  border: 2px solid #E5E5E5;
}

.aside .card-author .author-title {
  font-family: "PT Serif", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #171717;
}

.aside .card {
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.aside .card .card-body {
  text-align: center;
  font-family: "PT Serif", serif;
}

.aside .card .card-body .card-title {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: #171717;
}

.aside .card .card-body .position {
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #B1B1B1;
}

.aside .card .card-body .card-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  padding-bottom: 14px;
  color: #666666;
}

.aside .card .side-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "PT Serif", serif;
  border-top: 1px solid #E5E5E5;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  padding: 12px 40px;
  text-transform: uppercase;
  color: #C9A96E;
}

.aside .categorie-list li {
  font-family: "PT Serif", serif;
  padding-left: 0;
  padding-right: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #666666;
}

.aside .categorie-list li .fw-bold {
  text-align: left;
}

.aside .categorie-list li .fw-bold a {
  text-decoration: none;
  font-family: "PT Serif", serif;
  padding-left: 0;
  padding-right: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #666666;
}

.footer-nav_menu {
  display: flex;
  list-style: none;
  margin-top: 60px;
}

.footer-nav_menu li {
  margin-right: 34px;
}

.footer-nav_menu li a {
  color: #171717;
  text-decoration: none;
  font-family: "PT Serif", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
}

.footer-nav_menu li a:hover {
  color: #C9A96E;
}

.footer-nav {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 30px;
}

.copyrate {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #666666;
  margin-bottom: 42px;
}
@media(max-width:760px){
  .logo{
    display: flex;
    justify-content: center;
    margin: 34px 0;
  }
  .top-nav_menu{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .top-nav_menu li{
    text-align: center;
    margin: 0;
  }
  .footer-logo{
    display: flex;
    justify-content: center;
    margin: 34px 0;
  }
  .footer-nav_menu{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .footer-nav_menu li{
    text-align: center;
  }
  .aside{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
